<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/head" th:with="pageTitle='Subscribe'"></head>

<body>

<header th:include="fragments/header"></header>

<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/products/subscribed/{id}(id=${product.id})}" method="POST">
                <fieldset>
                    <legend>Subscribe For Product Support</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Product Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Post Title"
                                   name="title" th:value="${product.title}" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content"
                                      name="content" th:field="${product.content}" disabled="disabled">Content</textarea>
                        </div>
                    </div>

                    <div class="form-group" th:if="${userProductRelated == null}">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/product/{id}(id=${product.id})}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Subscribe"/>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4" th:if="userProductRelated">
                        <a class="btn btn-default" th:href="@{/products/subscribed/view/{id}(id=${product.id})}">ALREADY SUBSCRIBED</a>
                        <!--<a th:href="@{/products/subscribed/view/{id}(id=${product.id})}">View</a>-->
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<footer th:include="fragments/footer"></footer>

<span th:include="fragments/scripts-bundle"></span>

</body>
</html>
