.formError {
    color: red;
    font-style: italic;
}

#notification-message {
    text-align: center;
}

#notification-message .info {
    background: #7f7;
}

#notification-message .error {
    background: #d00;
    color: white;
}

