.formError {
    color: red;
    font-style: italic;
}

#notification-message {
    text-align: center;
}

#notification-message .info {
    background: #62c462;
    color: white;
}

#notification-message .error {
    background: #d00;
    color: white;
}

.unseen {
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}

body>aside {
    float: right;
    width: 200px;
    background: #51575B;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}



