<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="site-head">
    <meta charset="UTF-8" />
    <link th:href="@{/resources/css/bootstrap.css}" href="../public/resources/css/bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/resources/css/bootstrap-responsive.css}" href="../public/resources/css/bootstrap-responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
    <link rel="icon" href="../public/resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" />
    <script src="../public/resources/js/jquery-3.1.0.min.js" th:src="@{/resources/js/jquery-3.1.0.min.js}"></script>
    <script src="../public/resources/js/supporter-scripts.js" th:src="@{/resources/js/supporter-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>

<body>
<header th:fragment="site-header" th:remove="tag">
    <header>
        <a href="index.html" th:href="@{/}"><img
                src="../public/resources/img/site-logo.png" th:src="@{/resources/img/site-logo.png}" /></a>
        <a href="index.html" th:href="@{/}">Home</a>
        <a href="users/login.html" th:href="@{/users/login}">Login</a>
        <a href="users/register.html" th:href="@{/users/register}">Register</a>
        <a href="products/index.html" th:href="@{/products}">Tickets</a>
        <a href="products/create.html" th:href="@{/products/create}">Create Ticket</a>
        <a href="users/index.html" th:href="@{/users}">Users</a>

        <div id="logged-in-info" th:with="currentUser=
        ${#httpServletRequest.userPrincipal?.name }">
            <div th:if="${currentUser != null}">
                <form class="navbar-form pull-right" th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out" />
                </form>
                <p class="navbar-text pull-right" th:text="${currentUser}">
                    sample_user
                </p>
            </div>

        </div>

    </header>

    <ul id="messages" th:with="notifyMessages=${session[T(supporter.services
          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg : ${notifyMessages}"
            th:text="${msg.text}"
            th:class="${#strings.toLowerCase(msg.type)}">
        </li>
        <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(supporter.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
    </ul>
</header>

<h1>Welcome</h1>
<p>Welcome to the Spring SPS.</p>

<footer th:fragment="site-footer">
    &copy; Software Product Supporter System, 2016
</footer>
</body>

</html>
