<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/head" th:with="pageTitle='Software Product Supporter'"></head>

<body>

<header th:include="fragments/header"></header>

<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6" th:each="category : ${categories}">
                <header>
                    <h2>
                        <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.products) + ')'}">
                        </a>
                    </h2>
                </header>
            </div>
        </div>
    </div>
</main>


<footer th:include="fragments/footer"></footer>

<span th:include="fragments/scripts-bundle"></span>

</body>
</html>

